template(name='forumsList')
  h2 Lightning Talk Forums
  hr
  .forums.list-group
    each forums
      +forumsItem


template(name="forumsItem")
  a.list-group-item.bg-info(href="{{pathFor 'forumShow'}}" style="background-color: #d9edf7")
    h4.list-group-item-heading {{title}}
    p {{date}} - {{location}}
