template(name='forumsList')
  .forums
    h2 Featured Forums
    each forums
      p HELLO
      //- +forumsItem


//- template(name="forumsItem")
//-   .forums_item
//-     //- a(href="{{pathFor forum}}") {{title}}
//-     //- {{date}}
//-     {{title}}
