template(name='header')
  header
    meta(name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
  nav.navbar.navbar-default
    .container
      .navbar-header
        button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar1")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.nav-link(href="{{pathFor 'homePage'}}") Sandlightning

      .collapse.navbar-collapse(id="navbar1")
        ul.nav.navbar-nav.navbar-right
          li
            a(href="{{pathFor 'homePage'}}") 
              i.glyphicon.glyphicon-home
          li
            a(href="{{pathFor 'forumsList'}}") Forums


