template(name='header2')
  nav.navbar.navbar-default
    .container
      .navbar-header
        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar

      a.brand(href="{{pathFor 'home'}}") Sandlightning

      .nav-collapse.collapse
        ul.nav
          li
            a(href="{{pathFor 'forums'}}") Forums
        //-   if currentUser
        //-     li
        //-       a(href="{{pathFor 'talkSubmit'}}") Create Talk
        ul.nav.pull-right
          li
            +loginButtons
