template(name='jumbotron')
  .jumbotron
    .container
      h1 Sand Lightning Talks
      br
      h2 engaging presentations while on family vacation
  .spacer
  .container
    .row
      .col-md-6.col-sm-6.feature-text
        h3 What are sand lightning talks?

        p An evening of short "lighting talks" presentations on specific interesting topics. 

        p Get together with family and friends <b>while on vacation</b>, say, at the beach or wherever. Fire up your Powerpoints, young and old alike, and have at it!

        p Thus, the name <em>Sand Lighning Talks</em>!

        p We considered calling these Fulgurite Talks, since we're preserving the lightning talk on video on the internets; the topics can be deep and/or <em>tubular</em>; and because some of the speakers seemed themselves petrified. But decided to keep it simple and beachy. 
      .col-md-6.col-sm-6
          img.feature-photo(src="/EB0713FULG1D.jpg")
          p 
            em Fulgurite, also referred to as <b>petrified lightning</b> is a glass tube formed by lightning striking sand. Fulgurites may be over an inch in diameter and can penetrate deep into the soil, sometimes occuring as far as 50 feet below the surface that was struck.
  .spacer
