template(name="talkShow")
  .row
    .col-md-12
      p(style="margin: 1em 0;")
        a.btn.btn-default(href="{{pathFor 'forumShow' _id=forumId}}" style="white-space:normal") &larr; back to {{forum.title}}
      .embed-responsive.embed-responsive-4by3
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{ytId}}?autoplay=1&autohide=1&showinfo=0&rel=0" width="640" height="390" allowfullscreen></iframe>
      h1 {{title}}
      h3 {{author}}
      p {{forum.date}}
      if prevTalk
        p.pull-left
          a.btn(href="{{pathFor 'talkShow' _id=prevTalk._id}}" style="font-size: 2em; color: #aaa" title="{{prevTalk.title}}") 
            i.glyphicon.glyphicon-chevron-left
      if nextTalk
        p.pull-right
          a.btn(href="{{pathFor 'talkShow' _id=nextTalk._id}}" style="font-size: 2em; color: #aaa" title="{{nextTalk.title}}") 
            i.glyphicon.glyphicon-chevron-right
      .clearfix
      hr
      h4 Comments
      ul.list-group
        li.list-group-item
          if currentUser
            +commentCreate
          else
            em Please log in to leave a comment.
        each comments
          +commentItem

