template(name="talkSubmit")
  form.main
    .control-group
      label.control-label(for="title") Title
      .controls
        input(name="title", type="text", value="", placeholder="Name of the presentation")
    .control-group
      label.control-label(for="author") Presenter
      .controls
        input(name="author", type="text", value="", placeholder="Who's presentation")
    .control-group
      label.control-label(for="url") URL
      .controls
        input(name="url", type="text", value="", placeholder="YouTube URL")
    .control-group
      label.control-label(for="description") Description 
      textarea(name="description", type="text", value="")
    .control-group
      .controls
        input.btn.btn-primary(type="submit", value="Submit")
