template(name='talkItem')
  .talk
    .talk-content
      h3
        a(href="#{url}") #{title}
      p
        span #{author}
        if ownPost
          a(href="{{pathFor 'talkEdit'}}") Edit
    a.discuss.btn(href="{{pathFor 'talkPage'}}") Discuss