template(name='talkItem')
  .talk.col-md-4.col-sm-6.col-xs-12
    .talk-content.thumbnail
      a(href="{{pathFor 'talkShow'}}") 
        img(src="http://img.youtube.com/vi/{{yt_id}}/mqdefault.jpg")
        .caption(style="height:150px")
          h3 {{title}}
          p
            span {{author}}
