template(name="talkShow")
  .row
    .col-md-12
      p(style="margin: 1em 0;")
        a.btn.btn-default(href="{{pathFor 'forumShow' _id=forumId}}") &larr; back to {{forum.title}}
      .embed-responsive.embed-responsive-4by3
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{yt_id}}?autoplay=1&autohide=1&showinfo=0&rel=0" width="640" height="390" allowfullscreen></iframe>
      h1 {{title}}
      h3 {{author}}
      p {{forum.date}}
      p
        small 
          em If you'd like to leave a comment or upvote this video, please click the small YouTube button at bottom right.
      if prevTalk
        p.pull-left
          a.btn(href="{{pathFor 'talkShow' _id=prevTalk._id}}" style="font-size: 2em; color: #aaa" title="{{prevTalk.title}}") 
            i.glyphicon.glyphicon-chevron-left
      if nextTalk
        p.pull-right
          a.btn(href="{{pathFor 'talkShow' _id=nextTalk._id}}" style="font-size: 2em; color: #aaa" title="{{nextTalk.title}}") 
            i.glyphicon.glyphicon-chevron-right

