template(name='talkItem')
  .talk.col-md-4.col-sm-6.col-xs-12
    .talk-content.thumbnail.well
      a(href="{{pathFor 'talkShow'}}") 
        img(src="http://img.youtube.com/vi/{{yt_id}}/mqdefault.jpg")
        .caption(style="height:120px")
          h4 {{title}}
          p
            span {{author}}
            if commentsPresent 
              span.small ({{commentsCount}} comments)
