template(name="talkShow")
  .row
    .col-md-12
      p
        a(href="{{pathFor 'forumShow'}}") &larr; back
      .embed-responsive.embed-responsive-4by3
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/fuSBd--tWic" width="640" height="390" allowfullscreen></iframe>
      h1 {{title}}
      h3 {{author}}
