
ul.rules li {
  margin-bottom: 1em;
}

.talk-content *:hover {
  text-decoration: none !important;
  color: #428BCA !important;
}

#footer {
  margin-top: 6em;
  padding-top: 1em;
  border-top: 1px solid #aaa;
}

hr {
  border-color: #ccc;
  border-width: 4px;
}

@media (min-width: 768px) {
#login-dropdown-list button{
width: 90%;
}
}