
ul.rules li {
  margin-bottom: 1em;
}

.talk-content *:hover {
  text-decoration: none !important;
  color: #428BCA !important;
}

#footer {
  margin-top: 6em;
  padding-top: 1em;
  border-top: 1px solid #888;
}