template(name="_footer")
  nav#footer.navbar.navbar-default
    .container 
      p.pull-right.small
        a(href="http://parkerhill.com") Parkerhill Tech 
        &copy; 2014
      p Questions or comments? 
        a(href="mailto:jonathan@parkerhill.com") contact me
